# 데이터분석과 시각화

## *인공지능융합학부* ` 20226744학번 ` **박제현**

### 9월 16일 수업 강의 내용

In [1]:
# 9월 16일 데이터 분석과 시각화 수업

Mid_dic= {'math': 87, 'english': 94, 'science': 85, 'history': 92}
sub_list = ['math', 'english', 'science', 'history']
score_list = [87, 94, 85, 92]

In [2]:
import seaborn as sb

df = sb.load_dataset('titanic')
df['survived'][3]

1

In [3]:
Mid_sum = 0
Mid_mul = 1
for i in score_list:
    Mid_sum += i
    Mid_mul *= i
print('Mid_sum= {} , Mid_avr= {:.1f}, Mid_mul= {}'.format(Mid_sum, Mid_sum / len(sub_list), Mid_mul))

Mid_sum= 358 , Mid_avr= 89.5, Mid_mul= 63951960

In [4]:
import numpy as np
dic_s = np.sum(score_list)
dic_a = np.average(score_list)
print('Mid_sum= {} , Mid_avr= {:.1f}'.format(dic_s, dic_a))

Mid_sum= 358 , Mid_avr= 89.5

In [5]:
a = np.array([[1, 2, 3], [4, 5, 6]])
b = np.array([[0, -1, 1], [2, 1, 0]])
print(a + b)

[[1 1 4]
 [6 6 6]]

In [6]:
sub_list2 = []
score_list2 = []
for i in Mid_dic:
    sub_list2.append(i)
    score_list2.append(Mid_dic[i])
print(sub_list2)
print(score_list2)

['math', 'english', 'science', 'history']
[87, 94, 85, 92]

In [7]:
index_z_list = [sub[0] for sub in sub_list]
sub_list2 = []
for i in range(len(sub_list)):
    sub_list2.append(sub_list[index_z_list.index(min(index_z_list))])
    index_z_list[index_z_list.index(min(index_z_list))] = 'zzzzzzzzzzzz'
print(sub_list2)
score_list2.sort(reverse = True)
print(score_list2)

['english', 'history', 'math', 'science']
[94, 92, 87, 85]

In [8]:
sub_list3 = [key for key in Mid_dic.keys()]
print(sub_list3)

['math', 'english', 'science', 'history']

In [9]:
Mid_dic.values()
score_list3 = [value for value in Mid_dic.values()]
print(score_list3)

[87, 94, 85, 92]

In [10]:
sum(Mid_dic.values())/len(Mid_dic)

89.5

In [ ]:
def cir_area(r):
    pi = 3.14
    
    area = pi * r ** 2
    return area

In [18]:
def sub_input():
    sub_list = []
    for i in range(4):
        exec('sub_list.append(input("*subject {}: "))'.format(i))
    return sub_list
print('sub_list = {}'.format(sub_input()))

*subject 0:  math
*subject 1:  science
*subject 2:  english
*subject 3:  history

sub_list = ['math', 'science', 'english', 'history']