# 데이터분석과 시각화

## *인공지능융합학부* ` 20226744학번 ` **박제현**

### 9월 28일 수업 강의 내용"

In [ ]:
sub_list = ['math', 'english', 'science', 'history']
score_list = [87, 94, 85, 92]
Mid_dic= {'math': 87, 'english': 94, 'science': 85, 'history': 92}

In [ ]:
import seaborn as sb

df = sb.load_dataset('titanic')
df.shape

(891, 15)

In [ ]:
import pandas as pd

ds1 = pd.Series(score_list)
ds1

#score_list
ds1.index
ds1.values

array([87, 94, 85, 92], dtype=int64)

In [ ]:
df.columns
df['survived'][3]
ds1[[0, 2]]

0    87
2    85
dtype: int64

In [ ]:
ds2 = pd.Series(Mid_dic)
ds2[['math', 'history']]

math       87
history    92
dtype: int64

In [ ]:
import numpy as np

score_total = np.sum(score_list)
score_average = np.mean(score_list)
print(score_total, score_average)

358 89.5

In [ ]:
del ds1[1]
ds1[2] = 89
ds1

0    87
2    89
3    92
dtype: int64

In [ ]:
ds1[1] = 90
ds1

0    87
2    89
3    92
1    90
dtype: int64

In [ ]:
ds1.sort_values(ascending = True, inplace=True)
ds1

0    87
2    89
1    90
3    92
dtype: int64

In [24]:
age = pd.Series(df['age'])

#501 ~ 510 연령 추출
age501 = age[501:511]
print(age501)

#250, 700 연령 참조
print(age[[250, 701]])

#40 ~ 49 연령 합계와 평균
age4050 = age[40 : 50]
print('총합: {}, 평균: {}'.format(age[40:50].sum(), age[40:50].mean()))

#888번의 연령 NaN을 평균값으로 대체
age[888] = round(age.mean())
print(age[888])

#1 ~ 891까지 정수로 변환
age1891 = age[1 : 892].fillna(round(age.mean()))
age1891 = age1891.astype('int')
print(age1891)

501    21.0
502     NaN
503    37.0
504    16.0
505    18.0
506    33.0
507     NaN
508    28.0
509    26.0
510    29.0
Name: age, dtype: float64
250     NaN
701    35.0
Name: age, dtype: float64
총합: 107.0, 평균: 21.4
30.0
1      38
2      26
3      35
4      35
5      30
       ..
886    27
887    19
888    30
889    26
890    32
Name: age, Length: 890, dtype: int32